# Based on http://conda.pydata.org/docs/travis.html
language: minimal
sudo: false # use container based build
notifications:
  email: false

matrix:
  fast_finish: true
  include:
  - python: 3.7
    env: CONDA_ENV=py37

before_install:
  - wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no --set show_channel_urls true
  - conda info -a

install:
  - conda env create -n test_env --file ci/requirements-$CONDA_ENV.yml
  - source activate test_env
  - conda list
  - pip install --no-deps -e .

before_script:
#  - flake8 --ignore=E402,F401,F403,F811,W391,E226 {{ cookiecutter.project_name.lower().replace(' ', '_') }}

script:
  - which python
  - python --version
  - python -OO -c "import {{ cookiecutter.project_name.lower().replace(' ', '_') }}"
  - py.test {{ cookiecutter.project_name.lower().replace(' ', '_') }} --cov={{ cookiecutter.project_name.lower().replace(' ', '_') }} --cov-config ci/.coveragerc --cov-report term-missing --verbose $EXTRA_FLAGS;

after_success:
  - codecov
